.result{
    width: 300px;
    height: 50px;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 28px;
    background-color: #fff;
}
button{
    width: 50px;
    height: 50px;
    margin: 5px 7px 10px 0;
    font-size: 24px;
    background-color: #333;
    color: #fff; 
    border: 1px solid #f00;
    border-radius: 5px;
}
button:hover{
    background-color: #ADD8E6;
    color: #000;
}
.clear{
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #888;
    color: #fff; 
    border: 1px solid #000;
}
.body-calc{
    border:1px solid;
    width: 360px;
    border-radius: 10px;
    box-shadow:7px 7px 2px #888888;
    background-image: linear-gradient( #FFFFE0,#B0C4DE);
    margin: auto;
}
